<head>
  <meta http-equiv="origin-trial"
        content="Avnbc7OJJgXKTDeQB8OqHOvAYD7pt0Y6uDsoxcVPwC9WnE6M+Bgxz5HZIzdCl2vijtKz5Ki1jLykAwC0jgQ+ggQAAABueyJvcmlnaW4iOiJodHRwczovL2dlYXNzZW1ibGUtZmxhbWUudmVyY2VsLmFwcDo0NDMiLCJmZWF0dXJlIjoiV2ViTkZDIiwiZXhwaXJ5IjoxNTk1OTgwNzk5LCJpc1N1YmRvbWFpbiI6dHJ1ZX0=">
</head>
<div class="boardmain" >

  <form style="height: 10%;">
    <div style="padding-top: 30px;">

      <mat-label *ngIf="nfcReadTagId.length > 0" class="nfc-tag-title">{{receivedTagData?.name}}</mat-label>
      <mat-label *ngIf="nfcReadTagId.length <= 0" class="nfc-tag-title-hint">Tag your Command</mat-label>

    <div class="nfc-tag-underline"></div>
    </div>
  </form>

<!--      <input *ngIf="" " [value]=tagInfo.nfcName>-->

<!--    <div *ngIf="nfcReadTagId.length <= 0" class="middle-nfc-area">-->
<!--      <img #imgNfcLoad class="nfc-load" src="assets/ic_loading_forever.gif">-->
<!--    </div>-->

  <div class="bottom-info-area" >
    <mat-grid-list cols="1" rowHeight="fit" gutterSize="10px" [style.height]="'200px'">
     <mat-grid-tile *ngFor="let commandData of getReceiveTagData()">
        <!-- <mat-grid-tile  *ngFor="let data of receivedTagData.commandData" > -->
        <mat-card [style.background]="getApplianceColor(commandData.applianceId)">
          <table style="width: 100%; height: 60px">
            <tbody>
            <tr style="width: 100%;">
              <td class="card-nfc-icon">
                <img class="card-appliance-icon" [src]=getApplianceIcon(commandData.applianceId)>
              </td>
              <td class="card-nfc-action">{{getCommandDescription(commandData)}}</td>
              <td>
                <img *ngIf="!receivedResponse(commandData.commandIndex)" #imgNfcLoad class="card-nfc-load"
                     src="/assets/ic_loading_forever.gif">
                <div
                  *ngIf="receivedResponse(commandData.commandIndex) && (responseList.get(commandData.commandIndex).length != 0)"
                  class="nfc-server-response">{{ responseList.get(commandData.commandIndex) }} </div>
                <img
                  *ngIf="receivedResponse(commandData.commandIndex) && (responseList.get(commandData.commandIndex).length == 0)"
                  #imgNfcLoad class="card-nfc-load"
                  src="/assets/CheckMark.png">


              </td>
            </tr>
            </tbody>
          </table>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

<!--  <button (click)="onClickLoad()">Add Income</button>-->
<!--  <button (click)="onCreateTagData()">onCreateTagData</button>-->
<!--  <button (click)="onReadTagData()">onReadTagData</button>-->
<!--  <button (click)="onSendCommand()">onSendCommand</button>-->
<!--  <button (click)="onReadTagInformation()">onReadTagInformation</button>-->
<!--  <button (click)="onObserveTagData()">onObserveTagData</button>-->
<!--  <button (click)="onGetTagId()">onGetTagId</buㅔtton>-->

<!--  <button (click)="onConnect()">onConnect</button>-->
<!--  <button (click)="onDisConnect()">onDisConnect</button>-->




<!--  <button (click)="onClickReadNfcTest()">Read Test</button>-->
<!--  <button (click)="onClickSendNfcTest()">Send Test</button>-->
 <button (click)="onClickReadSendNfcTest()">Read Send Test</button>
 <button (click)="onConnect()">connect</button>
<!--  <button (click)="onClear()">Clear</button>-->

<!--  <div class="bottom_info">-->

<!--    <mat-label class="bottom-team-name">GEA.Ssemble</mat-label>-->
<!--  </div>-->

</div>
