<mat-form-field appearance="fill" class="OvenFormField">
    <mat-label style="font-weight: bolder;">Select Oven function</mat-label>
    <mat-select [(ngModel)]="selectedFunction">
        <mat-option *ngFor="let function of itemService.getOvenFunctions()" [value]="function">
            {{function.CommandId}}
        </mat-option>
    </mat-select>
</mat-form-field>

<div *ngIf="selectedFunction.CommandId==='Cooking'">
    <div style="text-decoration-style: solid;">Select Temperature
    <mat-slider thumbLabel tickInterval="100" min="1" max="100" [(ngModel)]="selectedFunction.MetaValue"></mat-slider>
    </div>
</div>

<div *ngIf="selectedFunction.CommandId==='Power'">
    <mat-form-field appearance="fill" class="OvenFormField">
        <mat-label style="font-weight: bolder;">Power Option</mat-label>
        <mat-select [(ngModel)]="selectedFunction.MetaValue">
            <mat-option *ngFor="let meta of ovenPowerMeta" [value]='meta'>
                {{meta}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div class="saveButtonContainer">
    <button mat-fab color="accent" aria-label="Example icon button with a plus one icon"
        (click)="itemService.addMergeFunction(selectedFunction);snackBar.openSnackBar()">
        <mat-icon>save_alt</mat-icon>
    </button>
</div>

