.boardmain {
  width: 100%;
  height: 100%;
  background:url('/assets/img_backgournd_board.png');
  background-size : cover;
}


.FunctionDrawerContainer {
  position: relative;
  top: 2px;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  background:url('/assets/img_backgournd_board.png');
  border-color: white;
  z-index: 0;
}

.OvenFunctionDrawer{
  position:relative;
  width: 80px;
  height: 20%;
  border-color: orange;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toogle-group {
  position:relative;
  width: 98%;
  height: 99%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.OvenFunctionButton{
  position:relative;
  width: 80px;
  height: 100%;
  background-color: orange;
  border-color: orange;
  margin: auto;
  color: white;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  align-items: center;


  border-style: hidden;
}


.WasherFunctionDrawer{
  position:relative;
  width: 80px;
  height: 20%;
  border-color: green;
  background-color: green;
}

.WasherFunctionButton{
  width: 80px;
  height: 200px;
  background-color:green;
  color: white;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  overflow-y: hidden;
}

.AcFunctionDrawer{
  position:relative;
  width: 80px;
  height: 20%;
  border-color: lightskyblue;
  background-color: lightskyblue;
}

.AcFunctionButton{
  width: 80px;
  height: 10%;
  background-color:lightskyblue;
  color: white;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  overflow-y: hidden;
}

.WriteFunctionDrawer{
  position:relative;
  width: 80px;
  height: 20%;
  border-color: black;
  background-color: black;
}

.WriteFunctionButton{
  width: 80px;
  height: 100%;
  background-color:black;
  color: white;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  overflow-y: hidden;
}

.function_mainscreen{
  position: absolute;
  top: 36%;
  left: 35%;
}


.bottom-team-name {
  display: flex;
  justify-content: center;
  color: #71716f;
  font-size: 15px;
  z-index: 10;
  position: absolute;
  top: 90%;
  left: 30%;
}
